
@{
    ViewBag.Title = "Index";
}
<style> 
@@font-face {
    font-family: myFirstFont;
    src: url(/Views/Home/SansationLight.woff);
}

h2 {
    font-family: myFirstFont;
}

    h2 {
            text-shadow: 4px 4px #ff5c33;
    }
#rcorners {
    border-radius: 25px;
    background: url(/Views/Home/fire.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
}
</style>
<h2 id="rcorners"><b>BookHut</b></h2>

<p></p>


